html {
  margin: 4px;
  min-height: 100vh;
 }
body{
 margin: 0;
 min-height: 100vh;
 background-color: white;
}
.container{
height:100%;
width: 100%;
margin-bottom:20px;
margin-left: auto;
margin-right: auto;
display: table;
 }
.tblcl {
    display: table-cell;
    vertical-align: middle;
}
.bar{
position:absolute;
top:0;
opacity: 0.8;
width: 10%;
height: 50px;
right: 0;
display: inline-block;
top: 25px;
transform: translate(-50%,-50%);
    background-image: url(open.png);
    background-size: cover;
}
.bar:hover{
    background: pink;
}
.holder-background{
    background-image: url(error.png);
    background-size: contain;
    background-position: top;
}
.noevent-background{
    background-image: url(error.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;

}
.holder{
    vertical-align: top; /*Makes sure all the divs are correctly aligned.*/
    white-space: normal; /*Prevents child elements from inheriting nowrap.*/
    float: left;
    position:relative;
    min-width:  180px;
    max-width: 500px;

}
.holderCITY{
    display: grid;
    height:100%;
    width: 100%;
    grid-gap: 3px;
    grid-template-columns: repeat(auto-fit, 500px);
    vertical-align: top; /*Makes sure all the divs are correctly aligned.*/
    white-space: normal; /*Prevents child elements from inheriting nowrap.*/
    position:relative;
}

.frame{
    width: 100%;
    height:100%;
    background :blue;
}

 .but {
 background-color: white;
 font-size: 1.5em;
 font-family: Courier;
 margin-bottom: 1em;
 }
.oh {
    color: black;
}
.ohcolor {
    color: white !important;
}
.ohellcolor {
    color: black !important;
    -webkit-text-stroke-color: white !important;
}
.ohell {
    padding-top: 3px;
    float: right;
    font-family: Arial;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.40px;
    transform: translateY(15%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
 a.ohell:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1); /* IE 9 */
  transform: scale(1.1);

}


.backtotop_button_wrap {width:100%;  height:auto;}
.backtotop_button_height {width:100%; height:35px;}
#toTop {display:none; position: fixed; right:0; bottom:0; width:20px; height:20px; background:beige; float:right !important;padding:2px; text-align:center; border:1px solid black; line-height:12px;bottom: 45px;}
#footer {width:100%; height:35px; color:white; text-align:center; background:#313131; border-top:1px solid black;}
.foot {
height: 500px;
#display: block;
}

.city{
    float: none;
    overflow: hidden;
    border-bottom: 2px solid;
    margin-bottom: 1em;
    margin-top: 1.5em;
    display: table-row;
}
.ra {
    display: block;
    height: 28px;
    width: 56px;
    background-repeat: no-repeat;
    background-position: center center;
	background-size: 60% 60%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    padding: 0;
    margin: 0;
}

.test {
        --randcol: black;
}
.h3 {
    padding-left: 3em;
}
.h2 {
    width: 1%;
}
 h2{
    float: left;
    color: black;
 }
 .after {
	font: 0.2em;
	color: black;
	content: " »"
 }

 h2after{
     position: absolute;
 }

 .ralogo-ffffff {
    background-color: white;
    background-image: url('ra-logo-ffffff.png');
}
 .ralogo-000000 {
    background-color: black;
    background-image: url('ra-logo-000000.png');
}

 a.ra:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  transform: scale(1.2);

}
.pull-right li:last-of-type {
    padding-right: 1.5em !important;
}
.pull-left {
		margin: 0;
		padding: 0;
    float: left !important;
        padding-left: 3px;
    padding-top: 3px;
}
.pull-right {
		margin: 0;
		padding: 0;
    float: right !important;
        padding-right: 3px;
    padding-top: 3px;
}

.footer-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-menu li {
    display: inline;
    padding-left: 10px;
}
